header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header img {
    width: 50px;
}

form {
    position: relative;
}

form i {
    position: absolute;
    top: 22px;
    right: 20px;
}

.selects{
    display: flex;
    flex-direction: row;
    justify-content: left;
    gap: 20px
}

.selects select {
    width: 150px;
}